body {
    background-color: #333333 !important;
    color: white !important;
    font-family: 'Libre Franklin', sans-serif !important;
}

.streamer-pic {
    width:100%;
}

#pie-title{
    size: 30;
}